<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>
<div class="container">
    <h1 class="text-center">User Info</h1>

    <table class="table">
        <tr>
            <th>Id</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Username</th>
            <th>Roles</th>
        </tr>
        <tbody>
        <tr>
            <td th:text="${user.id}"></td>
            <td th:text="${user.firstname}"></td>
            <td th:text="${user.lastname}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.getRoles()}"></td>
        </tr>
        </tbody>
    </table>
    <div class="text-center">
        <form th:action="@{/logout}" method="POST" class="d-inline">
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>
    </div>
</div>
</body>
</html>